body {
    background-color: rgb(249, 249, 249);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*------------nav-------*/
header {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    transition: 0.5s;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0%;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 10;
    padding-bottom: 0;
}

.flex {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    flex-direction: row;
}

.left {
    margin-left: 10px;
    justify-content: flex-start;
    width: auto;
}

.left #menu {
    width: 25px;
    margin-right: 25px;
}

.left #logo {
    width: 150px;
}

.sidy .mic {
    width: 24px;
}

#sear {
    width: 24px;
}

.mid {
    width: auto;
}

.mid .search {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    margin-right: 0px;
    height: 40px;
    padding: 0px 8px;
    border-radius: 0px;
}

.mid .search input {
    transition: 0.5s;
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
}

.mid .search input:hover {
    width: 500px;
}

.mid button {
    transition: 0.5s;
    margin: 0;
    background-color: rgb(248, 248, 248);
    border: none;
    border-radius: 0;
    width: 64px;
    height: 42px;
}

.mid button:hover {
    background-color: rgb(80, 80, 80)
}

.mid button:active {
    background-color: rgb(49, 49, 49);
}

.mid button:last-child {
    margin-left: 8%;
    background-color: rgb(248, 248, 248);
    border-radius: 100%;
    padding: 8px;
    height: 40px;
    width: 40px;
}

.mid .search img {
    width: 24px;
}

.right {
    margin-right: 30px;
    justify-content: flex-end;
    width: auto;
}

.right img {
    width: 25px;
    margin-right: 25px;
}

.right #profile {
    width: 45px;
    border-radius: 50%;
    margin-right: 0;
}

.htwo {

    border: 1px solid rgb(218, 218, 218);
    border-bottom: none;
    border-left: none;
    padding: 11px 0%;
    background-color: #ffffff;
    overflow: hidden;
}

.butts {
    margin-top: 10px;
    justify-content: flex-start;
    
}

.butts button {
    display: flex;
    cursor: pointer;
    transition: 0.6s;
    margin-left: 20px;
    border: 1.4px solid rgb(217, 217, 217);
    background-color: rgb(242, 242, 242);
    padding: 6px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}

.butts button:hover {
    background-color: #FF0000;
    border: 1.4px solid #7f0000;
    color: white;
}

.butts button.active {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
}

@media (max-width: 960px) {
    .mid button:hover {
        background: none
    }
    
    .mid button:active {
        background: none
    }
    .mid .search {
        border: 1px solid rgb(204, 204, 204);
        margin-right: 0px;
        height: 40px;
        padding: 0px 8px;
        border-radius: 0px;
    }

    .mid .search input {
        transition: 0.5s;
        width: 200px;
        border: 0;
        outline: 0;
        background: transparent;
        color: white;
    }

    .mid .search input:hover {
        width: 200px;
    }
}

@media (max-width: 500px) {
    .mid .search input {
        transition: 0.5s;
        width: 0px;
        border: 0;
        outline: 0;
        background: transparent;
        color: white;
    }

    .mid .search input:hover {
        width: 0px;
    }
  
    .sidy button {
        background: none;
        width: 24px;
    }

    .sidy button:last-child {
        background: none;
        margin-left: 10%;
    }
}

@media (max-width: 760px) {
    .mid .search {
        display: none;
    }
    
}
@media (max-width: 664px){
    header{
        padding: 3% 1%;
        padding-bottom: 0;
    }
    .left #menu {
        display: none;
    }
    
    .left #logo {
        width: 110px;
    }
    #svgs{
        display: none;
    }
    .right #profile {
        width: 30px;
        border-radius: 50%;
        margin-right: 0;
    }
    .right{
        background: none;
        width: auto;
    }
    .sidy .mic{
        display: none; 
    }
    .sidy button {
        background: none;
        width: 24px;
    }

    .sidy button:last-child {
        background: none;
        margin-left: 10%;
    }
}


/*------------side-------*/
.join{
    display: flex;
}
.sidebar {
    transition: 0.7s;
    position: fixed;
    background: rgb(255, 255, 255);
    width: 15%;
    height: 100vh;
    top: 0;
    padding-left: 2%;
    padding-top: 145px;
    overflow: hidden;
}

.short a img {
    transition: 0.5s;
    width: 20px;
    margin-right: 20px;
}

.short a {
    transition: 0.5s;
    text-decoration: none;
    margin-top: -20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: fit-content;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 14px;
}

.short a:hover {
    background-color: rgb(86, 86, 86);
    width: 100%;
}

.sidebar hr {
    margin-top: -10px;
    float: left;
    border: 0;
    height: 0.5px;
    background: rgb(124, 124, 124);
    width: 85%;
}

.sublist h3 {
    font-size: 17px;
    margin: 20px 0;
    color: rgb(96, 96, 96);
}

.sublist a {
    margin-top: -18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    line-height: 20px;
}

.sublist a img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.sublist a p {
    font-size: 12px;
}

@media (max-width: 936px) {
    .short a {
        margin-top: 20px;
        margin-bottom: 19px;
    }

    .short a img {
        width: 30px;
    }

    .sidebar {
        display: inline-block;
        background: rgb(255, 255, 255);
        width: auto;
        height: 130vh;
        top: 0;
        padding-left: 2%;
        padding-top: 130px;
        overflow: hidden;
    }

    .sublist a p {
        display: none;
    }

    .sublist a img {
        display: none;
    }

    .sidebar a p {
        display: none;
    }

    .sublist h3 {
        display: none;
    }
}

@media (max-width: 500px) {
    .sidebar {
        display: none;
    }

    .sublist a img {
        display: none;
    }
}
/*---------main-------*/
.contain{
    transition: 0.5s;
    background: rgb(249, 249, 249);
    margin-left: 13%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 140px;
    padding-bottom: 20px;
    width: 100%;
}
@media (max-width: 500px) {
    .contain{
        margin: 0;
    }
}
.listcont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.vidlist .thumb{
       width: 100%;
}
.vidlist .flex{
    align-items: flex-start;
    margin-top: 7px;
}
.vidlist .flex img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.vidif{
    color: #929292;
    font-size: 14px;
}
.vidif a{
    color: rgb(0, 0, 0);
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    line-height: 20px;
    text-decoration: none;
}
.vidif p{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: -10px;
    letter-spacing: normal;
}
.timest{
    color: white;
    position: absolute;
    background-color: black;
}